html, body {
  font-family: "Times New Roman";
  margin: 0;
}

h1 {
  font-size: 48px;
}

.bubble {
  background-color: #FFEE00;
}

.touch {
  background-color: #FFEE00;
}

.vase {
  background-color: #FFEE00;
}

div {
  padding-left: 30px;
  height: 100%;
  width: 100%;
}
