h1 {
  font-size: 48px;
}

html, body {
  font-family: "Times New Roman";
  margin: 0;
}

.bubble {
  background-color: #696969;
}

.touch {
  background-color: #b0c4de;
}

.vase {
  background-color: #778899;
}

div {
  padding-left: 30px;
  height: 100%;
  width: 100%;
}
